In [10]:
msg = 'welcome \t to python'
type(msg)

str

In [11]:
msg[0]

'w'

In [12]:
msg[-1]

'n'

In [13]:
msg*3

'welcome \t to pythonwelcome \t to pythonwelcome \t to python'

In [14]:
msg[0:4]

'welc'

In [15]:
msg

'welcome \t to python'

In [16]:
print(msg)

welcome 	 to python

In [19]:
name = 'ahmed'
msg = 'welcome %s' %(name)

In [20]:
msg

'welcome ahmed'

In [23]:
name = 'ahmed'
number = 3.6
msg = 'welcome %s to python %f' %(name,number)

In [24]:
msg

'welcome ahmed to python 3.600000'

In [1]:
# msg[0] = 'a'    error

In [36]:
msg.replace('python','java')

'welcome ahmed to java 3.600000'

In [37]:
msg

'welcome ahmed to python 3.600000'

In [38]:
msg.replace('z','java')

'welcome ahmed to python 3.600000'

In [39]:
len(msg)

32

In [40]:
msg.index('python')

17

In [41]:
msg = 'ali'

In [44]:
msg = msg.capitalize()

In [45]:
msg

'Ali'