In [1]:
msg = 'welcome to python course'

In [11]:
print(msg[0])
print(msg[2])
print(msg[len(msg)-1])

w
l
e

In [12]:
num = range(10)

In [13]:
print(num)

range(0, 10)

In [14]:
num = list(num)

In [15]:
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
num1 = range(2,10,2)

In [17]:
num1

range(2, 10, 2)

In [18]:
num1 = list(num1)

In [19]:
print(num1)

[2, 4, 6, 8]

In [21]:
for n in range(10):
    print(n)

0
1
2
3
4
5
6
7
8
9

In [22]:
for s in range(len(msg)):
    print(msg[s])

w
e
l
c
o
m
e

t
o

p
y
t
h
o
n

c
o
u
r
s
e

In [23]:
for s in msg:
    print(s)

w
e
l
c
o
m
e

t
o

p
y
t
h
o
n

c
o
u
r
s
e

In [25]:
list1 = ['mohamed','ali','ahmed']
for i in list1:
    print(i)

mohamed
ali
ahmed

In [29]:
dic = {'name':'ahmed', 'age':22}
for key,value in dic.items():
    print(key,"->",value)

name -> ahmed
age -> 22

In [38]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))
print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [39]:
n=int(input())
d=dict()
for i in range(1,n+1):
    d[i]=i*i
 
print(d)

5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [1]:
num = input("plz enter the number:")
while num != '0':
    print('continue')
    num = input("plz enter the number:")

plz enter the number:1
continue
plz enter the number:2
continue
plz enter the number:3
continue
plz enter the number:0

In [2]:
password = ""
while password != "secret":
    password = input("Please enter the password: ")
    if password == "secret":
        print("Thank you. You have entered the correct password")
    else:
        print("Sorry the value entered in incorrect - try again")

Please enter the password: aaa
Sorry the value entered in incorrect - try again
Please enter the password: secret
Thank you. You have entered the correct password

In [2]:
for i in range(0,5,1):
    print('*',end='')

*****

In [4]:
for line in range(0,2,1):
    for i in range(0,5,1):
        print('*',end='')
    print('\n')

*****

*****

In [5]:
persons = [ "John", "Marissa", "Pete", "Dayton" ]
restaurants = [ "Japanese", "American", "Mexican", "French" ]
 
for person in persons:
    for restaurant in restaurants:
        print(person + " eats " + restaurant)

John eats Japanese
John eats American
John eats Mexican
John eats French
Marissa eats Japanese
Marissa eats American
Marissa eats Mexican
Marissa eats French
Pete eats Japanese
Pete eats American
Pete eats Mexican
Pete eats French
Dayton eats Japanese
Dayton eats American
Dayton eats Mexican
Dayton eats French

In [8]:
word = 'python'
for c in word:
    if c == 'h':
        break
    
    print(c)

p
y
t

In [10]:
word = 'python'
for c in word:
    if c == 'h':
        pass
    else:
        print(c)

p
y
t
o
n

In [11]:
word = 'python'
for c in word:
    if c == 'h':
        continue
    print(c)

p
y
t
o
n

In [19]:
data = input()
newdata = ''
if data == '' :
    print("Your Data can't be processed")
else :
    for c in data :
        if c.isdigit() == True :
            print("Your Data can't be processed")
            break
        if c in ['*',' ','"',"'"] :
            continue
        newdata += c 
    print(newdata)

ahmed's book,2
Your Data can't be processed
ahmedsbook,