In [1]:
num_list = [1,3,5]
float_list = [1.3,4.5,6.1]
list1 = [1,3.5,'ahmed']

print(num_list)
print(float_list)
print(list1)

[1, 3, 5]
[1.3, 4.5, 6.1]
[1, 3.5, 'ahmed']

In [2]:
num_list[0]

1

In [3]:
num_list[-1]

5

In [5]:
num_list[0:2]

[1, 3]

In [6]:
num_list[:2]

[1, 3]

In [7]:
num_list[2:]

[5]

In [16]:
list1 = [1,3.5,'ahmed']
list1[1] = 'shady'

In [17]:
list1

[1, 'shady', 'ahmed']

In [18]:
del(list1[0])

In [19]:
list1

['shady', 'ahmed']

In [20]:
del(list1)

In [1]:
# list1      error

In [23]:
names = ['ahmed','mohamed','ali']
jobs = ['Doc','Eng','Sing']

In [24]:
names+jobs

['ahmed', 'mohamed', 'ali', 'Doc', 'Eng', 'Sing']

In [2]:
# names+5  error

In [3]:
# names*jobs      error

In [27]:
names*3

['ahmed',
 'mohamed',
 'ali',
 'ahmed',
 'mohamed',
 'ali',
 'ahmed',
 'mohamed',
 'ali']

In [28]:
len(names)

3

In [30]:
'ahmed' in names

True

In [1]:
names = ['ahmed','zyad','mohamed']
num = [1,3,8,2]
print(len(names))
print(min(names))
print(max(names))
print(min(num))
print(max(num))

3
ahmed
zyad
1
8

In [4]:
# names[3] = 'hany'    error

In [3]:
names.append('hany')

In [4]:
names

['ahmed', 'zyad', 'mohamed', 'hany']

In [5]:
num.append(2)

In [6]:
num

[1, 3, 8, 2, 2]

In [7]:
num.count(2)

2

In [8]:
names.count('ahmed')

1

In [9]:
names.count('shady')

0

In [10]:
num.extend(names)

In [11]:
num

[1, 3, 8, 2, 2, 'ahmed', 'zyad', 'mohamed', 'hany']

In [12]:
names.index('hany')

3

In [13]:
names.insert(1,'ali')

In [14]:
names

['ahmed', 'ali', 'zyad', 'mohamed', 'hany']

In [15]:
names[-1]

'hany'

In [16]:
names.pop()

'hany'

In [23]:
names

['ahmed', 'ali', 'zyad', 'mohamed']

In [24]:
names.remove('zyad')

In [25]:
names

['ahmed', 'ali', 'mohamed']

In [26]:
names.reverse()

In [27]:
names

['mohamed', 'ali', 'ahmed']

In [28]:
names.sort()

In [29]:
names

['ahmed', 'ali', 'mohamed']