In [3]:
# tuple same as list but not allowed to edit

In [2]:
names = ['ahmed','ali','hany']
namest = ('ahmed','ali','hany')
print(type(names))
print(type(namest))

<class 'list'>
<class 'tuple'>

In [4]:
namest[0]

'ahmed'

In [6]:
namest[0:2]

('ahmed', 'ali')

In [7]:
namest[-1]

'hany'

In [1]:
# namest[0] = 5     error not allow to edit or append

In [10]:
t1 = (10,20,30)
t1*2

(10, 20, 30, 10, 20, 30)

In [11]:
namest+t1

('ahmed', 'ali', 'hany', 10, 20, 30)

In [2]:
# del(namest[0])   error

In [13]:
del(namest)

In [3]:
# namest      error

In [15]:
len(t1)

3

In [16]:
min(t1)

10

In [17]:
max(t1)

30

In [18]:
# if list or tuple have nums and str not allowed to get min & max

In [23]:
ages = (10,20,60)
print(ages)
print(type(ages))

(10, 20, 60)
<class 'tuple'>

In [24]:
ages = list(ages)

In [25]:
print(ages)
print(type(ages))

[10, 20, 60]
<class 'list'>