In [1]:
def printstar():
    for line in range(2):
        for i in range(10):
            print('*',end='')
        print('\n')

In [3]:
printstar()
print('welcome to pyhton course')
printstar()

**********

**********

welcome to pyhton course
**********

**********

In [4]:
def printstar(x,y):              # required argument
    for line in range(x):
        for i in range(y):
            print('*',end='')
        print('\n')

In [5]:
printstar(3,10)
print('welcome to pyhton course')
printstar(2,10)

**********

**********

**********

welcome to pyhton course
**********

**********

In [7]:
def printstar(y,x = 1):              # default argument must be at end
    for line in range(x):
        for i in range(y):
            print('*',end='')
        print('\n')

In [9]:
printstar(10,3)
print('welcome to pyhton course')
printstar(10)

**********

**********

**********

welcome to pyhton course
**********

In [10]:
def printstar(y = 1,x = 1):              # default argument must be at end
    for line in range(x):
        for i in range(y):
            print('*',end='')
        print('\n')

In [11]:
printstar()

*

In [12]:
printstar(x=5,y=10)

**********

**********

**********

**********

**********

In [14]:
def changeme(x):                    # pass by refrence
    x.append([1,2,3,4])
    print('values in function :',x)

mylist = [10,20,30]
changeme(mylist)
print('values out function :',mylist)

values in function : [10, 20, 30, [1, 2, 3, 4]]
values out function : [10, 20, 30, [1, 2, 3, 4]]

In [15]:
def changeme(x):
    x = [1,2,3,4]
    print('values in function :',x)

mylist = [10,20,30]
changeme(mylist)
print('values out function :',mylist)

values in function : [1, 2, 3, 4]
values out function : [10, 20, 30]

In [16]:
total = 0    # global var
def summ(num1,num2):
    total = num1+num2       # local
    print("total in : ",total)

summ(10,20)
print('total out : ',total)

total in :  30
total out :  0

In [17]:
total = 0    # global var
def summ(num1,num2):
    global total          
    total = num1+num2       # global
    print("total in : ",total)

summ(10,20)
print('total out : ',total)

total in :  30
total out :  30

In [18]:
total = 0    # global var

def summ(num1,num2):
    global total          
    total = num1+num2       # global
    print("total sum in : ",total)
    
def sub(num1,num2):
    global total          
    total = num1-num2       # global
    print("total sub in : ",total)

summ(10,20)
sub(10,20)
print('total out : ',total)

total sum in :  30
total sub in :  -10
total out :  -10

In [23]:
total = 0
def summ(num1,num2):      
    total = num1+num2
    return(total)
    
def sub(num1,num2):         
    total = num1-num2       # global
    return(total)

In [24]:
sumres = summ(10,20)
subres = sub(10,20)
print('total out : ',total)
print('sum res : ',sumres)
print('sub res : ',subres)

total out :  0
sum res :  30
sub res :  -10

In [25]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(3, 6, -5))

6

In [26]:
def unique_list(l):  
  x = []  
  for a in l:  
    if a not in x:  
      x.append(a)  
  return x  
  
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [28]:
def test_prime(n):  
    if (n==1):  
        return False  
    elif (n==2):  
        return True;  
    else:  
        for x in range(2,n):  
            if(n % x==0):  
                return False  
        return True               
print(test_prime(5))

True

In [29]:
def string_reverse(str1):  
  
    rstr1 = ''  
    index = len(str1)  
    while index > 0:  
        rstr1 += str1[ index - 1 ]  
        index = index - 1  
    return rstr1  
print(string_reverse('1234abcd'))

dcba4321